.dish {
  min-height: 100vh;
  background-color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 !important;
  width: 100%;
  & a{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  & *{user-select: text !important;}
  &__video{
    &--item{
      width: 50vw;
      height: 50vh;
      margin-bottom: 50px;
    }
  }
  &__ingredients{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &--helper{
      position:fixed;
      z-index: 100;
      left: 0;
      top: 0;     
      text-align: center;
      background-color: #fff;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 15px;
      transform: translateY(-100%);
      box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.15);
      &-measure{
        width: 13vw;
        min-width: 150px;
        &::first-letter{
          text-transform: uppercase;
        }
      } 
      &-cover{
        min-width: 150px;
        min-height: 150px;
        width: 13vw;
        height: 13vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &--item{
      display: inline-block;
      margin: 5px;
      & span{
        line-height: 16px !important;
      }
      & span::first-letter{
        text-transform: capitalize !important;
      }
    }
  }
  &--title{
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    user-select: none !important;
  }
  &--link{
    transform: translateY(-35px);
    color: rgb(47, 181, 226) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  &__cover {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    &--item{
      width:100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.main{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 5;
        &-right,&-left{
          grid-row-start: 1;
          grid-row-end: 3;
        }
        &-right{
          grid-column-start: 2;
          grid-column-end: 4;
        }
        &-left{
          grid-column-start: 4;
          grid-column-end: 6;
        }

      }
    }
    &--secondary{
      width: 100%;
      height: 100%;
      object-fit: cover;  
      object-position: center;
      &.preloader{
        animation: spin 3s infinite;
        position: relative;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: #000;
        border-width: 3px 3px;
        border-style: solid;
        border-color: #000 lightgray;
        box-shadow: inset 0 0 0 50px #fff;
        filter: blur(5px);
      }
    }
  }
  &__instruction {
    text-align: justify;
    width: 50%;
    &::first-letter{
      margin-left: 30px;
    }
    font-size: 18px !important;
  }
  &__globals {
    margin-top: -25px !important;
    margin-bottom: 10px !important;
    display: flex;
    align-items: center;
    & i {
      user-select: none !important;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      cursor: context-menu;
    }
    b {
      cursor: context-menu;
      user-select: none !important;
      margin: 0 10px;
      font-size: 40px;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}