.product {
  width: 300px;
  scroll-snap-align: center;
  margin: 15px 30px;
  cursor: context-menu;
  position: relative;
  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
    font-weight: bold !important;
    & svg {
      translate: 3px;
      font-size: 16px !important;
    }
  }
  &__store {
    font-size: 12px !important;
    font-weight: 200 !important;
    color: #0e0d0b;
  }
  &__label {
    max-width: 70%;
    font-weight: bold !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__amount{
    display: flex;
    align-items: center;
    justify-content: center;
    &--value{
      background-color: #fff;
      padding: 1px 10px;
      &.disabled{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        position: absolute;
        background: #0e0d0b;
        top: 5px;
        right: 10px;
        z-index: 1;
        color: #fff;
        border-radius: 50%;
      }
    }
    &--add,&--remove{
      cursor: pointer;
      padding: 5px 10px;
      background-color: #0e0d0b;
      color: #fff;
    }
    &--add{
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    &--remove{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  &__cover {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: 35px !important;
    background: rgba(0, 0, 0, 0.419);
    position: relative;
    &:hover &--button {
      opacity: 1;
    }
    &--button {
      cursor: pointer;
      transition: 0.3s;
      opacity: 0;
      border-radius: 25px;
      width: 100%;
      height: 100%;
      font-size: 28px;
      background-color: #0e0d0b;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        translate: 0 15px;
        color: white;
      }
      &.add {
        .product__cover--button-icon {
          border: 1px solid white;
          border-radius: 50%;
        }
      }
      &.remove {
        .product__cover--button-icon {
          padding: 7px;
          translate: 0 15px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            transform: rotate(45deg);
            height: 100%;
            border: 1px solid #fff;
            z-index: 1;
          }
        }
      }
    }
    &::before {
      z-index: 1;
      width: 280px;
      text-align: center;
      transform: translateY(-1px);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      content: attr(data-category);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      background: #fff;
      padding: 10px;
      position: absolute;
    }
  }
  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      fill: rgb(255, 166, 0);
    }
  }
  &__view {
    font-size: 12px !important;
  }
  &__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper {
    scroll-snap-type: y mandatory;
    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    &::before, &::after{
      content: "";
      left: 0;
      width: 100%;
      height: 20px;
      background: linear-gradient(#e2e6e8 20%,rgba(0,0,0,0));
      top: -2px;
      z-index: 2;
      position: sticky;
    }
    &::after{
      rotate: 0.5turn;
      bottom: -2px;
    }
    & .center-body{
        position: absolute;
        top: 50%;
        translate: 0 -50%;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #0e0d0b;
    }
  }
}
