.search {
  margin: 10px;
  &__wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    & b svg{
      font-size: 200px;
      translate:-20px 20px;
    }
    & i svg{
      font-size: 22px;
    }
    & i,& b{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      & svg{
        transition: .3s;
      }
    }
    &:hover{
      & b svg {
        font-weight: lighter;
        font-size: 26px;
        translate: -1px 0;
      }
      & i svg{
        font-size: 8px;
        translate: 1px -2px;
      }
    }
  }
  &-modal {
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    &__input {
      width: 100%;
      &--container {
        position: relative;
        margin: 20px;
        margin-bottom: 15px;
      }
      &--clear {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        color: crimson;
        cursor: pointer;
        font-size: 22px !important;
        transform: translateY(-50%);
        right: 20px;
        transition: 0.1s;
        &:hover {
          scale: 1.1;
        }
        &:active {
          scale: 0.98;
        }
        &.hidden {
          z-index: -1;
          animation-name: hide;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
        }
        &.shown {
          animation-name: show;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
        }
      }
    }
    &__result{
        height:40px;
        $line-height:30;
        max-height: $line-height*8px !important;
        overflow-y: scroll;
        transition: .3s;
        &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #000;
          }
        &--placeholder{
            font-style: italic;
            opacity: 0.5;
            text-align: center;
        }
        &--item{
            color: #000 !important;
            margin-left: 25px;
            display: flex;
            align-items: center;
            height: 30px;
            transition: .3s;
            cursor: pointer;
            display: inline-block;
            position: relative;
            &:hover::after{
              width: 100%;
            }
            &::after{
              width: 0%;
              transition: .3s;
              content: '';
              position: absolute;
              height: 2px;
              background-color: #000;
              bottom: 5px;
              left: 0;
            }
          }
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
