.search {
  margin: 10px;
  &__field {
    width: 400px;
    border-radius: 50px;
    outline: none;
    transition: 0.3s;
    border: none;
    padding: 12px 12px 12px 35px;
    font-size: 16px;
    color: gray;
    &::placeholder {
      font-weight: 500;
    }
    &:focus {
      color: #000;
    }
  }
  &__wrapper {
    position: relative;
  }
  & svg {
    position: absolute;
    left: 15px;
    font-size: 18px;
    fill: gray;
    top: 50%;
    transform: translateY(-50%);
  }
  &-modal {
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    &__input {
      width: 100%;
      &--container {
        position: relative;
        margin: 20px;
        margin-bottom: 15px;
      }
      &--clear {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        color: crimson;
        cursor: pointer;
        font-size: 22px !important;
        transform: translateY(-50%);
        right: 20px;
        transition: 0.1s;
        &:hover {
          scale: 1.1;
        }
        &:active {
          scale: 0.98;
        }
        &.hidden {
          z-index: -1;
          animation-name: hide;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
        }
        &.shown {
          animation-name: show;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
        }
      }
    }
    &__result{
        height:40px;
        $line-height:30;
        max-height: $line-height*8px !important;
        overflow-y: scroll;
        transition: .3s;
        &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #000;
          }
        &--placeholder{
            font-style: italic;
            opacity: 0.5;
            text-align: center;
        }
        &--item{
            color: #000 !important;
            margin-left: 25px;
            display: flex;
            align-items: center;
            height: 30px;
            transition: .3s;
            cursor: pointer;
            display: inline-block;
            position: relative;
            &:hover::after{
              width: 100%;
            }
            &::after{
              width: 0%;
              transition: .3s;
              content: '';
              position: absolute;
              height: 2px;
              background-color: #000;
              bottom: 5px;
              left: 0;
            }
          }
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
